<div class="container">
  <header>
    <div class="collapse navbar-collapse" id="backgroundTitle"></div>
  </header>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="backgroundImage">
    </div>
  </div>
</nav>
  <main>
    <app-coffee-list></app-coffee-list>
  </main>
  <aside>
    <!-- Sidebar -->
  </aside>
  <footer class="text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3">
      Contact us_ +57 3102105253 - info@elaromamagico.com - @elaromamagico.png
    </div>
    <!-- Copyright -->
  </footer>
</div>


